:root {
  --height: 100vh;
  --width: 100vw;
}
.App {
  height: var(--height);
  width: var(--width);
  display: flex;
}

.Main-menu {
  width: 100%;
  height: 100%;
}
.sidebar-container {
  width: 400px;
  max-width: 40%;
  /* height: 100%; */
}
.sidebar-header,
.note-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.note,
.left-items-content {
  flex: 40%;
  display: grid;
  place-items: center;
}
.header-button {
  flex: 70%;
  display: flex;
  justify-content: end;
}
button {
  margin-left: auto;
}
.inputarea {
  width: 60%;
  margin: 0 auto;
  height: 100%;
}
input,
textarea {
  width: 100%;
  margin: 20px 0;
}
textarea {
  height: calc(100vh * 0.4);
}

/* notes */
/* .note-items {
  display: flex;
  justify-content: center;
}

.right-items-content {
  margin-left: auto;
} */
.right-items-content button {
  margin-left: 5px;
}
.note-items {
  height: auto;
  background: red;
  padding: 12px 16px;
}
